@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.page{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo_transparente{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
}

.fondo_transparente1{
    top: 10%;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 50vh;
    width: 100%;
    display: none;
}

.fondo_transparente2{
    top: 10%;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 50vh;
    width: 100%;
    display: none;
}

.fondo_transparente3{
    top: 10%;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 50vh;
    width: 100%;
    display: none;
}

.fondo_transparente4{
    top: 10%;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 50vh;
    width: 100%;
    display: none;
}

.fondo_transparente5{
    top: 10%;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 50vh;
    width: 100%;
    display: none;
}


/*titulo del modal*/
.modal{
    background: linear-gradient(0deg,whitesmoke 75%, #DBCEC8 25%);
    width: 600px;
    height: 220px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #677c68;
    border-radius: 30px;
}

.modal1{
    background: linear-gradient(0deg,whitesmoke 75%, #DBCEC8 25%);
    width: 600px;
    height: 200px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #677c68;
    border-radius: 30px;
}

.modal2{
    background: linear-gradient(0deg,white 75%, #DBCEC8 25%);
    width: 600px;
    height: 270px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #677c68;
    border-radius: 30px;
}


.modal3{
    background: linear-gradient(0deg,white 70%, #677c68 30%);
    width: 600px;
    height: 400px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #DBCEC8;
    border-radius: 30px;
}

.modal4{
    background: linear-gradient(0deg,white 80%, #677c68 20%);
    width: 600px;
    height: 200px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #DBCEC8;
    border-radius: 30px;
}
.modal5{
    background: linear-gradient(0deg,white 70%, #677c68 30%);
    width: 600px;
    height: 185px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #DBCEC8;
    border-radius: 30px;
}


.modal_cerrar{
    background: white;
    position: absolute;
    right: 10px;
    color: #677c68;
    top: 10px;
    width: 40px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal_cerrar1{
    background: white;
    position: absolute;
    right: 10px;
    color: #677c68;
    top: 10px;
    width: 40px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal_cerrar2{
    background: white;
    position: absolute;
    right: 10px;
    color: #677c68;
    top: 10px;
    width: 40px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal_titulo, .modal_titulo_1{
    color: white;
    font-size: 25px;
    padding-bottom: 5%;
}

.modal_mensaje{
    padding: 10px 30px;
}

.modal_botones{
    width: 100%;
    background: whitesmoke;
    border-top:whitesmoke 1px;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.boton{
    background: #677c68;
    padding: 8px 30px;
    color: #DBCEC8;
    text-decoration: none;
    border-radius: 25px;
    border:1px solid #DBCEC8;
}

.boton:hover{
    background: #DBCEC8;
    color: #677c68;
}

.enlace_reenviar{
    color: #DBCEC8;
    padding: 3px;
    border-radius: 25px;
    border:1px solid #677c68;
    margin-left: 2%;
}

.enlace_reenviar:hover{
    color: #677c68;
    border:1px solid #DBCEC8;
}




.enlace_info_pago{
    color: #677c68;
    padding: 3px;
    border-radius: 25px;
    border:1px solid #677c68;
    margin-left: 2%;
}

.enlace_info_pago:hover{
    color: #677c68;
    background-color: #DBCEC8;
    border:1px solid #677c68;
}