.dropdownMenu{
    width: 100%;
}
.title{
    background-color: #677c68;
    color: white;
    border:1px solid #DBCEC8;
}
.title:hover{
    background-color: #EAD1C5;
}

.dropdownButton{
    height: 50px;
}

.dropdownButton:hover{
    cursor: pointer;
}
.dropdownButton > p .fa{
    float: right;
}
.dropdownContent ul{
    margin: 0;
}


.dropdownContent{
    padding: 15px 8px;
    background-color: #fff;
    margin-top: -1px;
}

.tittle_text{
    color: #fff;
    text-align: center;
    font-size: large;
}

.tittle_text_1{
    color: #677c68;
}

.tittle_users{
    color: #fff;
    text-align: left;
    font-size: large;
    padding-left: 15px;
}

.tittle_text:hover{
    color: #677c68;
}